@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

nav.menu-open {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #fff;
}

nav {
    padding: 20px 6%;
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
}

nav a {
    text-decoration: none;
    color: #000;
}

nav .logo img {
    width: 130px;
}

nav.menu-open ul {
    margin: auto 0;
    list-style: none;
    display: block;
}
nav.menu-open .phone {
    display: block;
}

nav.menu-open ul li {
    padding: 10px 0px;
}

nav.menu-open ul li a{
    font-size: 24px;
    padding: 10px;
}

nav #menu-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 15px;
    right: 6%;
    border-radius: 50px;
    border: none;
    color: white;
    background-color: #000;
    cursor: pointer;
}

nav.menu-open #menu-btn {
    top: 10px;
    transform: none;
}

nav ul {
    display: none;
}
nav .phone {
    display: none;
}

/* Hero */
#hero {
    display: flex;
    flex-direction: column;
    background-color: #F4F5FA;
}

#hero figure img {
    width: 100%;
}

#hero .details {
    padding: 50px 6%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#hero .details button {
    border: none;
    cursor: pointer;
    background-color: red;
    color: white;
    align-self: flex-start;
    padding: 10px 20px;
}

/* Advantages */
#advantages {
    padding: 20px 6%;
    background-color: #F4F5FA;
}

#advantages .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
}

#advantages .list .item {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

#advantages .list .item img {
    width: 80px;
    margin-bottom: 5px;
}

#advantages h1 {
    text-align: center;
}

/* About */
#about {
    display: flex;
    flex-direction: column;
    background-color: #F4F5FA;
}

#about figure img {
    width: 100%;
}

#about .details {
    padding: 30px 6%;
}

#about .details h1 {
    margin-bottom: 10px;
}

#about .details p {
    margin-bottom: 5px;
}

#about .details a {
    text-decoration: none;
    color: red;
    font-size: 18px;
    padding: 5px;
    font-weight: bold;
}

#about figure {
    background-image: url("./constr_assets/about.jpg");
    background-size: cover;
    height: 400px;
}

/* Services */

#services {
    display: grid;
    grid-template-columns: repeat(2, minmax(160px, 1fr));
    grid-template-rows: repeat(6, 160px);
    background-color: #F4F5FA;
}

#services .item {
    /* padding: 27px 43px; */
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#services .item p {
    padding: 0px 13px;

}

#services .item img {
    width: 45px;
}

#services .item:first-child {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#services .item:nth-child(2) {
    background-color: #fff;
    color: #000;
}
#services .item:nth-child(3) {
    background-color: #fff;
    color: #000;
}

#services .item:nth-child(4) {
    background-color: #262837;
    color: #ffffffc2;
}

#services .item:nth-child(5) {
    background-color: #fff;
    color: #000;
}

#services .item:nth-child(6) {
    background-color: #262837;
    color: #ffffffc2;
}

#services .item:nth-child(7) {
    background-image: url(./constr_assets/constr_3.jpg);
    background-size: cover;
    background-color: #262837;
}

#services .item:nth-child(7) a{
    color: white;
    font-size: 13px;
    text-decoration: none;
}

#services .item:nth-child(8) {
    background-color: #fff;
    color: #7E7F89;
}

#services .item:nth-child(9) {
    background-color: #D21D26;
    color: #fff;
}


#services .item:last-child {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: #252837;
}

#services .item:last-child > a {
    color: #D21D26;
    text-decoration: none;
}

/* Ending */
#ending {
    background-color: #252837;
}

#ending .work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ending .work h1 {
    color: #fff;
}

#ending .work .end-img {
    width: 100%;
} 


#ending .work .play {
    width: 45px;
    margin-top: 70px;
    
}

/* DESKTOP STYLE */
@media screen and (min-width: 800px) {
    #hero {
        flex-direction: row;
    }

    #hero > * {
        flex: 1;
    }

    #hero .details {
        padding-left: 10%;
        justify-content: center;
    }

    #hero .details h1 {
        font-size: 2.5rem;
    }


    /* Nav */

    nav {
        flex-direction: row;
        align-items: center;
    }

    nav #menu-btn {
        display: none;
    }

    nav ul {
        display: block;
        margin-left: 20px;
        margin-right: auto;
    }

    nav li {
        display: inline-block;
        padding: 0px 10px;
    }

    nav .phone {
        display: flex;
        align-items: center;
    }


    /* Advantages */
    #advantages {
        padding: 40px 6% 40px 20%;
    }

    #advantages h1 {
        font-size: 2.5rem;
        text-align: left;
    }
    
    #advantages .list .item {
        align-items: flex-start;
        text-align: left;
        padding-left: 0px;
    }


    /* About */
    #about {
        flex-direction: row;
    }

    #about > * {
        flex: 1;
    }

    #about figure {
        height: auto;
    }

    /* Services */
    #services {
        display: grid;
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        grid-template-rows: repeat(3, 200px);
        background-color: #F4F5FA;
    }

}